header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

ul #logo-container{
  height: 250px;
  width: 300px;
}

#logo-container img{
  height: 250px;
  width: 250px;
}

.page-title{
  font-size: 30px;
  padding-left: 10px;
}

.parallax-container{
  height: 300px;
}

.side-nav li.active {
  background-color: rgb(13, 71, 161);
}

.side-nav li.active a{
  color: rgb(255, 255, 255);
}

footer.page-footer img{
  height: 150px;
  width: 113px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

main div.container p{
  text-align: justify;
}

footer.page-footer div.row{
  color: rgb(255, 255, 255);
}
