header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

ul #logo-container{
  height: 250px;
  width: 300px;
}

#logo-container img{
  height: 250px;
  width: 250px;
}

.page-title{
  font-size: 30px;
  padding-left: 10px;
}
